<app-navbar></app-navbar>
<div >
  <div class="min-h-full" style="margin-bottom: 160px;">
    <div class="container xl:max-w-2xl md:max-w-2xl mx-auto px-4">
      <div class="text-center mt-6">
        <span class="text-2xl	font-medium">Cambio de Clave</span>
      </div>
    </div>

    <div class="container xl:max-w-2xl md:max-w-2xl mx-auto px-4 w-full  space-y-8">
      <form  [formGroup]="changeForm" class="space-y-6" >
        <input type="hidden" name="remember" value="true">
          <div class="grid grid-cols-1">
            <div class="relative mt-4">
              <input [(ngModel)]="changeObj.password" formControlName="password" type="password" id="floating_outlined" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " maxlength="10"/>
              <label for="floating_outlined" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2  origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Clave actual</label>
            </div>
          </div>
          <div class="grid grid-cols-1">
            <div class="relative mt-1">
              <input [(ngModel)]="changeObj.newpassword" formControlName="newpassword" type="password" id="floating_outlinedzi" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " maxlength="10"/>
              <label for="floating_outlinedzi" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2  origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Nueva clave</label>
            </div>
          </div>
          <div class="grid grid-cols-1">
            <div class="relative mt-1">
              <input  [(ngModel)]="changeObj.renewpassword" formControlName="renewpassword" type="password" id="floating_outlined-2" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " maxlength="10"/>
              <label for="floating_outlined-2" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2  origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Confirmar clave</label>
            </div>
          </div>
      </form>
      <div>
        <button [disabled]="!changeForm.valid" type="submit" (click)="clickfunc()" class="btn-accion group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" >
              <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd" />
            </svg>
          </span>
          Cambiar clave
        </button>
      </div>

    </div>
  </div>

</div>
