<app-minutero></app-minutero>
<div class="padding-container-payment">
  <app-actualroute></app-actualroute>

  <form [formGroup]="body">
    <div
      class="mt-5 d-flex container-payment-flex"
      style="padding-bottom: 120px"
    >
      <div class="col-10 offset-sm-1 offset-md-1 col-lg-6 offset-lg-0">
        <div class="row mb-3">
          <div class="col-12 col-lg-9 offset-0 offset-lg-3">
            <p class="fw-bold fs-3">Pago con PSE</p>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-12 col-lg-8 offset-lg-3">
            <p class="font-weight-light text-muted fs-6">
              <span style="color: gray; font-weight: 800">Recuerda:</span> Qué
              el pago con tarjeta de crédito puede tener fees adicionales dentro
              de tu inversión.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-8 offset-0 offset-lg-3">
            <div class="mt-3 mb-4">
              <app-card-payment
                *ngFor="let card of paymentCards"
                [payment]="card.name"
                [selected]="card.selected"
              ></app-card-payment>

              <input hidden type="checkbox" value="visa" />
              <input hidden type="checkbox" value="pse" />
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-sm-12 col-lg-8 pe-2 pe-lg-0 offset-lg-3">
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Banco</label
            >
            <div class="container-cuotas">

              <select
                class="form-select form-select-lg mb-3 rounded-0 mr-0"
                aria-label=".form-select-lg example"
                [formControl]="selectedStateBank"
              >
                <option value="">Seleccione un banco</option>
                <option
                  *ngFor="let state of opcionesSelect"
                  [ngValue]="state?.value"
                  style="box-shadow: 0"
                >
                  {{ state.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col-12 col-sm-12 col-lg-8 offset-lg-3 container-inputs-payment"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Nombre</label
            >
            <app-input [control]="firstNameControl"></app-input>
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col-12 col-sm-12 col-lg-8 offset-lg-3 container-inputs-payment"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Dirección de domicilio</label
            >
            <app-input [control]="address"></app-input>
          </div>
        </div>

        <div class="row mb-3">
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 offset-0 offset-lg-3 pr-0"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Departamento / Estado</label
            >
            <app-selectdepartamento
              [pais]="selectedCountry"
              (statecambiado)="stateChange($event)"
            ></app-selectdepartamento>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 pl-0">
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Ciudad</label
            >
            <app-selectciudad
              [pais]="selectedCountry"
              [state]="selectedState"
              (ciudadCambiada)="cityChange($event)"
            ></app-selectciudad>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-sm-12 col-lg-8 pe-2 pe-lg-0 offset-lg-3">
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Tipo de persona</label
            >
            <div class="container-cuotas">
              <app-custom-select
                [data]="opcionesSelectTypePerson"
                [justIzquierda]="true"
                (onOpcionSeleccionada)="changeTypePerson($event)"
              ></app-custom-select>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-sm-12 col-lg-8 pe-2 pe-lg-0 offset-lg-3">
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Tipo de documento</label
            >
            <div class="container-cuotas">
              <app-custom-select
                [data]="opcionesSelectTypeDocument"
                [justIzquierda]="true"
                (onOpcionSeleccionada)="changeDues($event)"
              ></app-custom-select>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col-12 col-sm-12 col-lg-8 offset-lg-3 container-inputs-payment"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Número de documento</label
            >
            <app-input [type]="'number'" [control]="document_number"></app-input>
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col-12 col-sm-12 col-lg-8 offset-lg-3 container-inputs-payment"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Número de télefono</label
            >
            <app-input [type]="'number'"  [control]="phone"></app-input>
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col-12 col-sm-12 col-lg-8 offset-lg-3 container-inputs-payment"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >Correo</label
            >
            <app-input  [control]="emailAdress"></app-input>
          </div>
        </div>

        <div class="row mb-5">
          <div
            class="col-12 col-sm-12 col-lg-8 offset-lg-3 container-inputs-payment"
          >
            <label for="exampleInputEmail1" class="form-label text-muted"
              >RUT (Opcional)</label
            >
            <app-input [control]="rut"></app-input>
          </div>
        </div>

        <button
          mat-button
          (click)="sendDataInvestment()"
          class="btn bg-black rounded rounded-5 w-100 text-white pb-1 pt-1 mt-3 d-lg-none"
          style="height: 40px"
          [disabled]="body.invalid"
        >
          Invertir
        </button>
      </div>

      <div
        class="col-md-5 col-lg-4 offset-lg-2 ml-0 d-none d-sm-none d-md-none d-lg-block"
      >
        <div class="img-prom">
          <p>
            Estás a un paso <br />
            de obtener más beneficios <br />
            invirtiendo $28.000.000
          </p>
        </div>

        <div class="mt-3 border border-1 rounded-1 p-4">
          <p class="fs-4 fw-bold">Resumen de inversión</p>
          <p class="fw-light text-payment">
            Orden de inversión: {{ fecha | date }}
          </p>

          <hr />

          <p class="fs-6 mb-5 text-payment">Proyecto: Nido de Agua</p>

          <p class="text-payment-title">Pago por suscripción</p>

          <div class="d-flex justify-content-between">
            <p class="fs-6 text-payment">Inversión total:</p>
            <p class="fs-6 fw-bold">
              {{ inversionValue | currency : "" : "symbol-narrow" : "1.0-0" }}
              COP
            </p>
          </div>

          <div class="d-flex justify-content-between">
            <p class="fs-6 text-payment">Cuotas diferidas:</p>
            <p class="fs-6 fw-bold">
              {{ this.formInversion.value.dues | i18nPlural : mapCuotas }}
            </p>
          </div>

          <hr />

          <div class="d-flex justify-content-between mb-2">
            <p class="text-payment-title">Subtotal:</p>
            <p class="fs-6 fw-bold">
              {{ subtotal | currency : "" : "symbol-narrow" : "1.0-0" }} COP
            </p>
          </div>

          <div class="d-flex justify-content-between">
            <p class="text-payment-title">Impuestos y tarifas:</p>
            <p class="fs-6 fw-bold">
              {{ taxes | currency : "" : "symbol-narrow" : "1.0-0" }} COP
            </p>
          </div>
          <p class="text-payment">Fee tarjeta de crédito 2,5%</p>

          <hr />

          <div class="d-flex justify-content-between">
            <p class="text-payment-title">Total:</p>
            <p class="fs-6 fw-bold">
              {{ inversionValue | currency : "" : "symbol-narrow" : "1.0-0" }}
              COP
            </p>
          </div>

          <button
            mat-button
            (click)="sendDataInvestment()"
            class="btn bg-black rounded rounded-5 w-100 text-white pb-1 pt-1 mt-3"
            style="height: 40px"
            [disabled]="body.invalid"
          >
            Invertir
          </button>
        </div>

        <p class="mt-3 text-payment text-center">
          ¿Tienes alguna duda? Contáctanos a
          <a href="mailto:info@lokl.life" class="text-payment"
            >info@lokl.life</a
          >
          o comunicate a nuestro canal de atención
        </p>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>

<!-- [ngClass] = "{'bg-dark': formInversion.valid, 'disabled': !formInversion.valid}" -->
