
<div class="custom-select- border p-2 text-center align-items-center "
  [ngClass] = "{
    'select--': selectSelected,
    'border-bottom-0': desplegar,
    'text-center': !justIzquierda,
    'text-left': justIzquierda
  }"
  (click)="clickSelect()">
    <p class = "fs-6 mb-0"> {{elementSelected.name}} </p>
    <svg [ngClass] = "{
      'svg-select-down': desplegar,
      'svg-select': !desplegar
    }"
    width="14" height = "8"
    >
      <path d = "M1.04395 1.90637L6.45771 6.99962L12.0423 2.09432"></path>
    </svg>
</div>

<div class = "cont-opciones" *ngIf = "desplegar" >
  <div *ngFor = "let option of data ; let i= index"
    class = "opcion-desp border p-2 text-center align-items-center border-top-0 select-- border-bottom-1"
    (click) = "onClickOption(option)"
    [ngClass]="{
      'd-none': !desplegar,
      'text-center': !justIzquierda,
      'text-left': justIzquierda,
      'border-bottom-0': i != data.length - 1
    }">
    <p class = "fs-6 mb-0"> {{option.name}} </p>
  </div>
</div>

