.bg-gray{
  background-color: rgb(243, 244, 246);
}

.fw-heavy{
  font-weight: 1000!important;
}

.fs-7{
  font-size: 0.85rem!important;
}

.fs-8{
  font-size: 0.75rem!important;
}

.round{
  border-radius: 400px!important;
}
