.bg-gray{
  background-color: rgb(243, 244, 246);
}

.fw-heavy{
  font-weight: 1000!important;
}

.fs-7{
  font-size: 0.85rem!important;
}

.fs-8{
  font-size: 0.75rem!important;
}

.round{
  border-radius: 400px!important;
}

.recomended span{
  font-size: 10px;
  margin-left: -2px;
}

.recomended{
  color: #7c3aed;
  fill: #7c3aed;
}

.bg-violet{
  background-color: rgb(196 181 253);
}

.border-gray-{
  --bs-border-color: rgb(209 213 219);
}

