.select-opt {
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.select-opt:focus {
  border-color: var(--principalColor);
  --tw-ring-color: var(--principalColor);
}

.focus\:ring-0:focus {
  border-color: var(--principalColor);
}

.peer:focus ~ .peer-focus\:text-blue-600 {
  color: var(--principalColor);
}

.btn-accion {
  background-color: var(--principalColor);
}

.btn-accion:disabled {
  opacity: 0.5;
}

.text-indigo-500 {
  color: white;
}

.btn-accion:disabled .text-indigo-500 {
  opacity: 0.8;
}

.group:hover .group-hover\:text-indigo-400 {
  opacity: 0.8;
  color: white;
}

.text-indigo-600 {
  color: var(--principalColor);
}

.footer-div {
  background: #fafbff;
  box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.06);
}

.item-recarga {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.item-recarga-value {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.item-recarga-value.mx {
  line-height: 32px;
  font-weight: 700;
  font-size: clamp(17px, 4vw, 24px);
}
