.fondo-div {
  background-image: url("../../assets/img/fondo.jpg");
  background-size: cover;
  //background-position: ;
  height: calc(75vh);
}

.fondo-inversion {
  background-image: url("../../assets/img/fondo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: start;
  height: calc(30vh);
}

@media (max-width: 576px) {
  .sm-margin {
    margin-top: 10px; /* Ajusta el margen según tus necesidades */
  }
}

@media (max-width: 768px) {
  .sm-margin {
    margin-top: 10px; /* Ajusta el margen según tus necesidades */
  }
}
