<div class="container-fluid fondogray">
    <app-minutero></app-minutero>
    <div class="row fondo-div align-items-center">
        <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-6 offset-1 d-block d-sm-block d-md-block">
            <h1 class="text-white fw-bold fs-3 mt-3">Invierte en proyectos
                inmobiliarios innovadores desde bajos montos.</h1>
            <p class="text-white fs-4">Te conectamos con proyectos exclusivos que se valorizan y rentabilizan
                de
                lunes a domingo. Una plataforma que te permite alcanzar tu libertad financiera.</p>

            <h1 class="text-white fw-normal fs-3">Invierte en cuotas mensuales
                desde $1.356.444
            </h1>
            <h4 class="text-white"> Válido hasta el 31 de Julio</h4>
            <button class="btn btn-white bg-body rounded rounded-5 mb-2"> Simula tu Inversión</button>
        </div>
        <div
            class="col-6 col-sm-6 col-md-5 col-lg-5 col-xl-4 col-xxl-3 offset-md-1 d-none d-sm-none d-md-none d-lg-block">
            <div class="row">
                <div class="col-12 text-end">
                    <p class="text-white">asdasd </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row fondogray ms-0 mt-5 mb-3">
        <div class="col-6 col-sm-6 col-md-2 offset-0 offset-md-1">
            <h1 class="text-center fs-3 text-wrap">1284 <br>Inversionistas</h1>
        </div>
        <div class="col-md-1 d-none d-sm-none d-md-block">
            <div class="divider-vertical "></div>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
            <h1 class="text-center fs-3 text-wrap">+15% <br>
                Retorno Estimado</h1>
        </div>
        <div class="col-md-1 d-none d-sm-none d-md-block">
            <div class="divider-vertical "></div>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
            <h1 class="text-center fs-3 text-wrap">$8211MM<br>
                Retorno Estimado</h1>
        </div>
        <div class="col-md-1 d-none d-sm-none d-md-block">
            <div class="divider-vertical "></div>
        </div>
        <div class="col-6 col-sm-6 col-md-1">
            <h1 class="text-center fs-4 text-wrap">02<br>
                Proyectos financiados
            </h1>
        </div>
    </div>
    <div class="fondogray">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col  offset-md-1 d-none d-sm-none d-md-flex">
                <h1 class="fw-bold"> Oportunidades de alto nivel</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5  offset-md-1 d-none d-sm-none d-md-flex">
                <h2 class="fw-bold text-muted">Sé parte de nuestra red de inversionistas</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-5 col-xl-5 col-xxl-5 offset-md-3 offset-lg-1 offset-xl-1 offset-xxl-1
                d-none d-sm-none d-md-none d-lg-none d-xl-grid ps-2 p-0">

                <div class="card-video rounded-0 bg-body">
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 align-self-center">
                                <h6 class="card-title text-center text-danger border border-danger"
                                    style="background-color: rgba(238, 155, 155, 0.333)">Lanzamiento</h6>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-4">
                                <h4 class="card-title fw-normal text-center"><strong>+15%</strong><br>Retorno estimado
                                </h4>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <h3 class="card-title fw-normal text-center"> <strong>112 mil</strong> <br> por unit
                                </h3>

                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <h3 class="card-title fw-normal text-center"> <strong>613</strong><br>inversionistas
                                </h3>

                            </div>

                        </div>
                        <div class="row mb-1">
                            <div class="col-12 ms-3">
                                <h1 class="mb-2 fw-bold ">Nido de Agua</h1>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-12 ms-3">
                                <p class="card-text fs-4 fw-bold">El Peñol,Antioquia</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-12 ms-2">
                                <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-12 ms-3">
                                <h2 class="mb-2 fw-bold ">$44456 Millones Cop</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 ms-0 ms-xl-2 align-self-center">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-5 align-self-center">
                                <h4 class="fw-bold ms-1 mt-3">62.50% invertido </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn bg-blue rounded rounded-5"> Quiero invertir</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div
                class="col-md-11 col-lg-11 col-xl-6 col-xxl-6 offset-md-1 offset-lg-1 offset-xl-0 offset-xxl-0 ps-xl-0">
                <!-- <div id="youtube-player"></div> -->
                <div class="video-container">
                    <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                        src="https://www.youtube.com/embed/CQDtTMMa2mQ?autoplay=1&start=4" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row mb-2 d-flex mb-3">
            <div class="col-12 col-sm-12 col-md-10 col-lg-5 offset-md-1 ">
                <app-cardhoteles [src]="'../../assets/img/fondo.jpg'" [titulo]=" 'Indie Universe'" [retorno]="'12%'"
                    [inversionistas]=" '356' " [unidades]="'8283'" [total_invertido]="'$3.604.030.000'"
                    [precio_unitario]="'$115mil'"></app-cardhoteles>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-5 sm-margin d-none d-sm-none d-md-none d-lg-block">
                <app-cardhoteles [src]="'../../assets/img/fondo.jpg'" [titulo]=" 'Indie Studio'" [retorno]="'12%'"
                    [inversionistas]=" '-' " [unidades]="'-'" [total_invertido]="'$7.000.000.000'"
                    [precio_unitario]="'$120mil'"></app-cardhoteles>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-sm-12 col-md-11 col-lg-11 offset-md-1 d-none d-md-none d-sm-none d-lg-block">
                <h1 class="fw-bold"> Comienza a invertir 100% digital en solo 3 pasos</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div
                class="col-12 col-sm-12 col-md-3 text-center offset-0 offset-sm-0 offset-md-0 d-grid d-sm-grid d-md-grid d-lg-grid ">
                <i class="fa-solid fa-person-circle-check"></i>
                <h2 class="mt-3"><u>1. Regístrate</u></h2>
                <p class="text-center fs-5 text-muted">Conoce los detalles de cada proyecto, simula tu inversión y
                    modela tu
                    suscripción
                    para pagos por
                    cuotas y sin recargos.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 text-center d-none d-sm-none d-md-grid">
                <i class="fa fa-flag" aria-hidden="true"></i>
                <h2>2. Elige el proyecto que quieres invertir</h2>
                <p class="text-center fs-5 text-muted">Obtén altas rentabilidades y
                    disfruta de sus beneficios.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 text-center d-none d-sm-none d-md-grid">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <h2>3. Invierte y monitorea tu <br> inversión</h2>
                <p class="text-center fs-5 text-muted">Paga comodamente y gestiona tu
                    crecimiento, retornos
                    y valorización del proyecto</p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center d-none d-sm-none d-md-none d-lg-grid">
                <h2 class=""><u>Conoce nuestros beneficios</u></h2>
            </div>

        </div>

        <div class="row mb-4">
            <div class="col-7 col-sm-7 col-md-7 col-lg-4 col-xl-4 col-xxl-4 offset-3 offset-sm-3 offset-md-3 offset-lg-2 offset-xl-2 offset-xxl-2 
                text-center text-sm-center text-md-center container-md ">
                <div class="container-fluid mt-5 ms-3 text-start text-xxl-center">

                    <div class="row">
                        <div class="col-12">
                            <h1 class="fw-bold">¡Ya no tienes excusas! <br>
                                Qué tu primera inversión del <br>
                                2023 sea en Nido de Agua</h1>
                            <h3 class="fw-normal mt-1 d-none d-sm-none d-md-none d-lg-block">Conoce nuestras facilidades
                                de pago
                            </h3>

                            <p class="fw-normal fs-6 d-block d-sm-block d-md-block d-lg-none">Inicia con planes desde
                                <span class="text-uppercase fw-bold">
                                    $1.356.444</span>
                                <span>/ mes</span>

                            </p>
                            <p class="fw-normal d-block d-sm-block d-md-block d-lg-none">Válido hasta el 31 de Julio</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10 col-xxl-12 ">
                            <div
                                class="text-center text-lg-end text-xxl-center d-block d-md-block d-lg-grid d-xxl-block">
                                <button class="btn mt-4 bg-blue rounded rounded-5"> Empieza Ahora</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 d-none d-sm-none d-md-none d-lg-block">
                <div class="image-card-container">
                    <img src="https://lokl.life/static/media/Image.d41e5ecefdbc5e7151e1.png"
                        alt="Descripción de la imagen">
                    <div class="card-overlay">
                        <div class="container-fluid p-3">
                            <p class="fw-normal fs-5">Paga en 9 meses cuotas de
                                <span class="text-uppercase fw-bold">
                                    $1.356.444</span>
                                <span>/ mes</span>

                            </p>
                            <p class="fw-normal">Válido hasta el 31 de Julio</p>

                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-center">
                <form>
                    <div class="row">
                        <label for="exampleInputEmail1"
                            class="form-label text-center text-sm-center text-md-center text-lg-center text-xl-center">Simula
                            tu
                            inversión</label>
                        <div
                            class="col-12 col-sm-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                            <mat-form-field>
                                <mat-label>Choose one</mat-label>
                                <mat-select>
                                    <mat-option>Clear</mat-option>
                                    <mat-option value="valid">Valid option</mat-option>
                                    <mat-option value="invalid">Invalid option</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <mat-hint
                            class="text-center text-sm-center text-md-center text-lg-center text-xl-center"><strong>¿Cuánto
                                quieres invertir?</strong>
                        </mat-hint>
                        <div
                            class="col-12 col-sm-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">

                            <mat-form-field appearance="legacy">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <mat-hint
                            class="text-center text-sm-center text-md-center text-lg-center text-xl-center"><strong>Monto
                                mínimo
                                de
                                $11.200.000 COP</strong>
                        </mat-hint>
                        <mat-hint
                            class="text-center text-sm-center text-md-center text-lg-center text-xl-center"><strong>¿Por
                                cuánto tiempo piensas invertir?</strong> </mat-hint>
                        <div
                            class="col-12 col-sm-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                            <mat-form-field>
                                <mat-select [disabled]="">
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2 (disabled)</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Acepto los términos y condiciones.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div
                            class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-2 mb-3 text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center">
                            <button type="button" class="btn bg-blue rounded-5">Calcular</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-11 col-sm-11 col-md-5 col-lg-4 col-xl-4 col-xxl-3 mt-sm-2 sm-margin">
                <app-steper></app-steper>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3>Reconocidos Por:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-4 text-end">
                <h1>Forbes</h1>
            </div>
            <div class="col-4 text-center">
                <h1>Lr</h1>
            </div>
            <div class="col-4 text-start">
                <h1>Bloomerg</h1>
            </div>
        </div>


    </div>
    <app-preguntas></app-preguntas>
    <app-footer></app-footer>
</div>