<div class="">
    <app-minutero></app-minutero>
    <div class="row fondo-div align-items-center">
        <div class="col-6 col-sm-6 col-md-5 col-lg-5 offset-1 d-block d-sm-block d-md-block">
            <p class="text-white fs-4">Te conectamos con proyectos exclusivos que se valorizan y rentabilizan
                de
                lunes a domingo. Una plataforma que te permite alcanzar tu libertad financiera.</p>
        </div>

        <div class="col-6 col-sm-6 col-md-5 col-lg-5 offset-md-1 d-none d-sm-none d-md-none d-lg-block">
            <p class="text-white fs-4">Te conectamos con proyectos exclusivos que se valorizan y rentabilizan
                de
                lunes a domingo. Una plataforma que te permite alcanzar tu libertad financiera.</p>
        </div>
    </div>

    <div class="row  fondogray">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <p class="text-center"> 1259 Inversionistas</p>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <p class="text-center"> +15%
                Retorno Estimado</p>

        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <p class="text-center"> $8073MM
                Inversión a la fecha</p>

        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <p class="text-center"> 02
                Proyectos financiados</p>

        </div>
    </div>

    <div class="fondogray">
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5  offset-md-1 d-none d-sm-none d-md-block">
                <p class="fw-bold">Oportunidades de alto nivel</p>
                <p class="text-muted"> Sé parte de nuestra red de inversionistas</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-5 col-xl-5 col-xxl-5 offset-md-3 offset-lg-1 offset-xl-1 offset-xxl-1
                d-none d-sm-none d-md-none d-lg-grid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-5">
                                <h5 class="card-title text-center text-danger border border-danger">Lanzamiento</h5>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <h5 class="card-title fw-bold text-center">+15% <br>Retorno estimado</h5>

                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
                                <h5 class="card-title fw-bold text-center">112 mil</h5>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                                <h5 class="card-title fw-bold text-center">593</h5>
                            </div>
                        </div>
                        <h6 class="card-text mb-2 fw-bold ">Nido de Agua</h6>
                        <p class="card-text fw-bold">El Peñol,Antioquia</p>
                        <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>

                        <h6 class="mb-2 fw-bold ">$44456 Millones Cop</h6>
                        <div class="row">
                            <div class="col-6">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class=" fw-bold ms-1 ">62.50% invertido </h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn "> Quiero invertir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-5 col-xl-5 col-xxl-5 offset-md-2 offset-lg-0 offset-xxl-0 ">
                <!-- <div id="youtube-player"></div> -->
                <div class="video-container">
                    <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                        src="https://www.youtube.com/embed/CQDtTMMa2mQ?autoplay=1&start=4" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row mb-2 d-flex mb-3">
            <div class="col-12 col-sm-12 col-md-10 col-lg-5 offset-md-1 ">
                <div class="card border border-0">
                    <div class="card-title">
                        <div class="row ms-2">
                            <div class="col-6 col-sm-6 mt-2">
                                <div class="row">
                                    <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                        <h5 class="card-title text-center text-primary border border-primary">100%
                                            Total
                                            Invertido
                                        </h5>
                                    </div>

                                    <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                        <h5 class="card-title text-center text-primary border border-primary">N
                                        </h5>
                                    </div>

                                </div>
                                <h6 class="card-title mb-2 fw-bold ">Nido de Agua</h6>
                                <p class="card-text fw-bold">El Peñol,Antioquia</p>
                                <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>

                                <h6 class="mb-2 fw-bold ">$44456 Millones Cop</h6>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="progress">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="mb-2 fw-bold ms-1 ">62.50% invertido </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <img src="../../assets/img/fondo.jpg" style="width: 100%; height: 101%;" alt="">
                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-5 sm-margin d-none d-sm-none d-md-none d-lg-block">
                <div class="card border border-0">
                    <div class="card-title">

                        <div class="row ms-2">
                            <div class="col-6 mt-2">
                                <div class="row">
                                    <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                        <h5 class="card-title text-center text-primary border border-primary">100%
                                            Total
                                            Invertido
                                        </h5>
                                    </div>

                                    <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                        <h5 class="card-title text-center text-primary border border-primary">N
                                        </h5>
                                    </div>

                                </div>
                                <h6 class="card-title mb-2 fw-bold ">Nido de Agua</h6>
                                <p class="card-text fw-bold">El Peñol,Antioquia</p>
                                <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>

                                <h6 class="mb-2 fw-bold ">$44456 Millones Cop</h6>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="progress">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="mb-2 fw-bold ms-1 ">62.50% invertido </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <img src="../../assets/img/fondo.jpg" style="width: 100%; height: 101%;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-sm-12 col-md-11 col-lg-11 offset-md-1 d-none d-md-none d-sm-none d-lg-block">
                <p class="text-black">Comienza a invertir 100% digital en solo 3 pasos</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 text-center d-grid d-sm-grid d-md-grid ">
                <i class="fa-regular fa-person-booth"></i>
                <a href=""> <u>1. Regístrate</u></a>
                <p class="text-center">Conoce los detalles de cada proyecto, simula tu inversión y modela tu suscripción
                    para pagos por
                    cuotas y sin recargos.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 text-center d-none d-sm-none d-md-grid">
                <i class="fa fa-flag" aria-hidden="true"></i>
                <p>2. Elige el proyecto que quieres invertir</p>
                <p>Obtén altas rentabilidades y
                    disfruta de sus beneficios.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 text-center d-none d-sm-none d-md-grid">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <p>3. Invierte y monitorea tu inversión</p>
                <p>Paga comodamente y gestiona tu
                    crecimiento, retornos
                    y valorización del proyecto</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-center d-grid d-sm-none d-md-grid">
                <a href=""> <u>Conoce nuestros beneficios</u></a>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <p class="fw-bold">¡Ya no tienes excusas! <br>
                    Qué tu primera inversión del
                    2023 sea en Nido de Agua</p>
                <p class="fw-light">Conoce nuestras facilidades de pago</p>
                <button class="btn bg-blue rounded rounded-5"> Empieza Ahora</button>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-none d-sm-none d-md-block fondo-inversion ">
            </div>
        </div>
        <div class="">
            <div class="row justify-content-center">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-center">
                    <form>
                        <div class="row">
                            <label for="exampleInputEmail1"
                                class="form-label text-center text-sm-center text-md-center text-lg-center text-xl-center">Simula
                                tu
                                inversión</label>
                            <div
                                class="col-12 col-sm-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                                <mat-form-field>
                                    <mat-select [disabled]="">
                                        <mat-option value="option1">Option 1</mat-option>
                                        <mat-option value="option2">Option 2 (disabled)</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <mat-hint
                                class="text-center text-sm-center text-md-center text-lg-center text-xl-center"><strong>¿Cuánto
                                    quieres invertir?</strong>
                            </mat-hint>
                            <div
                                class="col-12 col-sm-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">

                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <mat-hint
                                class="text-center text-sm-center text-md-center text-lg-center text-xl-center"><strong>Monto
                                    mínimo
                                    de
                                    $11.200.000 COP</strong>
                            </mat-hint>
                            <mat-hint
                                class="text-center text-sm-center text-md-center text-lg-center text-xl-center"><strong>¿Por
                                    cuánto tiempo piensas invertir?</strong> </mat-hint>
                            <div
                                class="col-12 col-sm-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                                <mat-form-field>
                                    <mat-select [disabled]="">
                                        <mat-option value="option1">Option 1</mat-option>
                                        <mat-option value="option2">Option 2 (disabled)</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-12 col-md-12 col-lg-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Acepto los términos y condiciones.
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div
                                class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-2 mb-3 text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center">
                                <button type="button" class="btn bg-blue rounded-5">Calcular</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-11 col-sm-11 col-md-5 col-lg-4 col-xl-4 col-xxl-3 mt-sm-2 sm-margin">
                    <app-steper></app-steper>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3>Reconocidos Por:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-end">
                    <h1>Forbes</h1>
                </div>
                <div class="col-4 text-center">
                    <h1>Lr</h1>
                </div>
                <div class="col-4 text-start">
                    <h1>Bloomerg</h1>
                </div>
            </div>

        </div>
    </div>
    <app-preguntas></app-preguntas>
    <app-footer></app-footer>
</div>