.picker {
  width: 90%;
}

.mat-form-field {
  @media (min-width: 0px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.container-cuotas {
  height: 50px;
}

app-custom-select {
  width: 100% !important;
  height: 100%;
}

input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-selected {
  border-color: #7c3aed;
  --bs-border-color: #7c3aed;
}
