.picker {
  width: 90%;
}

.mat-form-field {
  @media (min-width: 0px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.container-cuotas {
  height: 50px;
}

app-custom-select {
  width: 100% !important;
  height: 100%;
}
