.picker {
  width: 90%;
}

.mat-form-field {
  @media (min-width: 0px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.container-cuotas {
  height: 50px;
}

app-custom-select {
  width: 100% !important;
  height: 100%;
}

input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-selected {
  border-color: #7c3aed;
  --bs-border-color: #7c3aed;
}

.button-reenviar:hover,
.button-reenviar:active {
  background-color: black !important;
  color: white !important;
  outline: none !important;
  box-shadow: 0 !important;
}

.form-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #7c3aed;
}

.changecolor {
  border: 1px solid #ced4da !important; /* Agrega el borde deseado */
  border-radius: 0 !important;
}

.custom-select {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-open.modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(167, 166, 255, 0.75) !important;
}
