<div class="">
    <div class="container-fluid h-screen w-100">
        <app-navbar></app-navbar>
        <app-minutero></app-minutero>
        <div class="row fondo-div align-items-center mb-3">
            <div class="col-6 text-start">
                <p class="text-white fs-4">Invierte en proyectos inmobiliarios innovadores desde bajos montos.</p>
                <p class="text-white fs-4">Te conectamos con proyectos exclusivos que se valorizan y rentabilizan
                    de
                    lunes a domingo. Una plataforma que te permite alcanzar tu libertad financiera.</p>
            </div>
            <div class="col-6 text-center">
                <h1 class="text-white fs-4">Lets Do together</h1>
            </div>
        </div>

        <div class="row mb-3 fondogray">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <p class="text-center"> 1259 Inversionistas</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <p class="text-center"> +15%
                    Retorno Estimado</p>

            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <p class="text-center"> $8073MM
                    Inversión a la fecha</p>

            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <p class="text-center"> 02
                    Proyectos financiados</p>

            </div>
        </div>

        <div class="container-fluid fondogray">
            <div class="row mb-3">
                <div class="col-12">
                    <p class="fw-bold">Oportunidades de alto nivel</p>
                    <p class="text-muted"> Sé parte de nuestra red de inversionistas</p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-body mt-2">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                    <h5 class="card-title text-center text-danger border border-danger">Lanzamiento</h5>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                    <h5 class="card-title fw-bold  text-center">+15%</h5>
                                    <h5 class="card-title text-center">Retorno estimado</h5>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                    <h5 class="card-title fw-bold text-center">112 mil</h5>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                    <h5 class="card-title fw-bold text-center">593</h5>
                                </div>
                            </div>
                            <h6 class="card-title mb-2 fw-bold ">Nido de Agua</h6>
                            <p class="card-text fw-bold">El Peñol,Antioquia</p>
                            <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>

                            <h6 class="mb-2 fw-bold ">$44456 Millones Cop</h6>


                            <div class="row">
                                <div class="col-6">
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h6 class="mb-2 fw-bold ms-1 ">62.50% invertido </h6>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-6">
                    <div id="youtube-player"></div>
                </div>
            </div>

            <div class="row mb-5 bg-body">
                <div class="col-3 col-md-3 col-lg-3 d-inline-block">
                    <div class="card border border-0">
                        <div class="card-body mt-2">
                            <div class="row">
                                <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                    <h5 class="card-title text-center text-primary border border-primary">100% Total
                                        Invertido
                                    </h5>
                                </div>

                                <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                    <h5 class="card-title text-center text-primary border border-primary">N
                                    </h5>
                                </div>

                            </div>
                            <h6 class="card-title mb-2 fw-bold ">Nido de Agua</h6>
                            <p class="card-text fw-bold">El Peñol,Antioquia</p>
                            <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>

                            <h6 class="mb-2 fw-bold ">$44456 Millones Cop</h6>


                            <div class="row">
                                <div class="col-6">
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h6 class="mb-2 fw-bold ms-1 ">62.50% invertido </h6>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

                <div class="col-3 col-md-3 col-lg-3 fondogray">
                    <img src="../../assets/img/fondo.jpg" style="height: 280px;" alt="">
                </div>

                <div class="col-3 col-md-3 col-lg-3">
                    <div class="card border border-0">
                        <div class="card-body mt-2">
                            <div class="row">
                                <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                    <h5 class="card-title text-center text-primary border border-primary">100% Total
                                        Invertido
                                    </h5>
                                </div>

                                <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                                    <h5 class="card-title text-center text-primary border border-primary">N
                                    </h5>
                                </div>

                            </div>
                            <h6 class="card-title mb-2 fw-bold ">Nido de Agua</h6>
                            <p class="card-text fw-bold">El Peñol,Antioquia</p>
                            <p class="card-text fw-normal mb-4">Un bosque que te atiende de lunes a lunes</p>

                            <h6 class="mb-2 fw-bold ">$44456 Millones Cop</h6>


                            <div class="row">
                                <div class="col-6">
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" style="width: 50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h6 class="mb-2 fw-bold ms-1 ">62.50% invertido </h6>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

                <div class="col-3 col-md-3 col-lg-3">
                    <img src="../../assets/img/fondo.jpg" style="height: 280px;" alt="">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-black">Comienza a invertir 100% digital en solo 3 pasos</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-center d-grid">
                    <i class="fa-regular fa-person-booth"></i>
                    <a href=""> <u>1. Regístrate</u></a>
                    <p>Conoce los detalles de cada proyecto, simula tu inversión y modela tu suscripción para pagos por
                        cuotas y sin recargos.</p>
                </div>
                <div class="col-4 text-center d-grid">
                    <i class="fa fa-flag" aria-hidden="true"></i>
                    <p>2. Elige el proyecto que quieres invertir</p>
                    <p>Obtén altas rentabilidades y
                        disfruta de sus beneficios.</p>
                </div>
                <div class="col-4 text-center d-grid">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                    <p>3. Invierte y monitorea tu inversión</p>
                    <p>Paga comodamente y gestiona tu
                        crecimiento, retornos
                        y valorización del proyecto</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col text-center">
                    <a href=""> <u>Conoce nuestros beneficios</u></a>
                </div>

            </div>

        </div>

        <app-footer></app-footer>

    </div>

</div>