<div class="row align-items-center bg-body d-none d-sm-none d-md-none d-lg-flex">
    <div class="col-6 mb-3 mt-3">
        <button class="btn btn-focus text-black border-0" (click)="redireTo('')"> LOKL</button>
        <button class="btn btn-outline-primary rounded rounded-5">Inscribete</button>
        <button class="btn  btn-focus text-black border-0"> Blog</button>
    </div>
    <div class="col-6 align-content-center">
        <button class="btn btn-focus buttonlogin float-end" (click)="redireTo('register')"> Registrate</button>
        <button class="btn btn-focus buttonlogin float-end"> Iniciar Sesión</button>
    </div>
</div>