<div class="row align-items-center">
  <div class="col-6">
    <ul class="nav nav-pills mb-3 mt-2" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link text-black" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">Lokl</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn btn-primary buttonnav rounded rounded-5">Inscribete</button>
        <!-- <button class="nav-link rounded text-black" id="pills-profile-tab" data-bs-toggle="pill"
          data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
          aria-selected="false">Profile</button> -->
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link text-black " id="pills-contact-tab" data-bs-toggle="pill"
          data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
          aria-selected="false">Blog</button>
      </li>
    </ul>
  </div>
  <div class="col-6 align-content-center">

    <button class="btn btn-primary buttonlogin float-end"> Registrate</button>
    <button class="btn btn-primary buttonlogin float-end"> Iniciar Sesión</button>
  </div>
</div>





<!-- <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">home
          asdkasljkd</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
  </div> -->