<div
  class="fondogray minutero align-items-center d-none d-sm-none d-md-none d-lg-flex"
>
  <div class="minutero-description">
    <p class="h6 m-0 p-0 ">
      <strong class="fw-bold" style="color: #170099;"
        >¡Disfruta de <a href="" style="color: #170099;">beneficios exclusivos</a> siendo inversionista!</strong
      >
      <br />
      y crece como socio invirtiendo en proyectos con LOKL
    </p>
  </div>
  <div class="minutero-count">
    <div class="count-children">
      <p class="m-0" >Aumento del Unit en</p>
      <p class="m-0">{{ fecha_actual }}</p>
    </div>
    <button
      class="btn btn-sm ms-2 bg-light text-center text-black border-0 bg-white button-minutero"
    >
      Invertir ahora
    </button>
  </div>
</div>
