.fondogray {
  background-image: linear-gradient(to right, #ecc3fc, #d7c3ff, #bfc4ff, #a7c5ff, #8ec5fc);
}

.minutero {
  height: 80px;
  position: absolute;
  top: 60px;
  width: 100%;
  justify-content: center;
}
.minutero-description{
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minutero-count{
  display: flex;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-minutero{
  border-radius: 20px;
  width: 160px;
  height: 35px;
  font-weight: 600;
}

.minutero-description p {
  line-height: 1.5;
  font-weight: 600;
}

.count-children{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
