<div class="row fondogray minutero align-items-center d-none d-sm-none d-md-none d-lg-flex">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 offset-md-3">
        ¡Disfruta de beneficios exclusivos siendo inversionista!
        y crece como socio invirtiendo en proyectos con LOKL
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 ">
        <p class="p-2">{{fecha_actual}}</p>

    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 ">
        <button class="btn btn-primary btn-sm ms-2 bg-light text-center text-black fondogray rounded border border-0">
            Invertir
            Hora</button>
    </div>
</div>