<app-minutero></app-minutero>

<div class="">
  <form action="">
    <div class="row bg-body space-row-register">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xxl-5 mt-5">
        <div class="col-7 col-sm-6 col-md-6 col-lg-7 col-xxl-7 offset-3 mb-4">
          <h2 class="fw-bold text-lg-justify">
            Estás a un paso de diversificar tu portafolio invirtiendo desde
            bajos montos en bienes raíces!
          </h2>
        </div>
        <div class="col-7 col-sm-6 col-md-6 col-lg-7 col-xl-7 offset-3 mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre Completo"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="col-7 col-sm-6 col-md-6 col-lg-7 offset-3 mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Correo Electronico"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="col-7 col-sm-6 col-md-6 col-lg-7 offset-3 mb-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Imagen</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Digita tu celular"
            />
          </div>
        </div>

        <div class="col-7 col-sm-6 col-md-6 col-lg-7 offset-3 mb-3">
          <div class="input-group border border-black rounded">
            <input
              type="password"
              class="form-control border border-0"
              id="password-input"
              placeholder="Digita tu Contraseña"
            />
            <div class="input-group-append">
              <button
                class="btn bg-body btn-focus border border-0"
                type="button"
                id="show-password-button"
              >
                Mostrar
              </button>
            </div>
          </div>
        </div>
        <div class="col-7 col-sm-6 col-md-6 col-lg-7 offset-3 mb-3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Como nos conociste</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-7 col-sm-6 col-md-6 col-lg-7 offset-3 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Código Referido"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div
          class="col-7 col-sm-6 col-md-6 col-lg-7 col-xxl-12 offset-3 mb-4 text-center"
        >
          <div class="form-check text-center">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label
              class="form-check-label ps-1 fs-24"
              for="flexCheckChecked"
              style="color: #6c757d; font-size: 16px"
            >
              Aceptó <span style="color: #4743e4">términos y condiciones</span>
            </label>
          </div>
        </div>

        <div
          class="col-7 col-sm-6 col-md-6 col-lg-7 col-xxl-12 offset-3 mb-4 text-center"
        >
          <button class="btn bg-black rounded rounded-5 w-100 text-white">
            ¡Regístrate!
          </button>
        </div>

        <div
          class="col-7 col-sm-6 col-md-6 col-lg-7 col-xxl-12 offset-3 mb-4 text-center"
        >
          <p class="fw-semi-bold mb-1" style="color: #6c757d; font-size: 16px">
            ¿Ya tienes una cuenta?
          </p>
          <p
            class="fw-semi-bold cursor-pointer"
            style="color: #4743e4; font-size: 16px"
          >
            <a
              href="#"
              class="link-underline-secondary"
              style="text-decoration: none"
              >Iniciar sesión</a
            >
          </p>
        </div>
      </div>

      <div
        class="col-12 col-sm-12 col-md-7 col-lg-6 col-xxl-7 d-none d-sm-none d-md-none d-lg-flex bg-black"
      >
        <div class="container-fluid mt-5 ps-5 pt-5">
          <h1 class="text-white fw-bold mb-1" style="font-size: 32px">
            Invierte de manera
          </h1>
          <h1 class="text-white fw-bold mb-4" style="font-size: 32px">
            <span style="color: #b1ffe0">Simple,</span>
            <span style="color: #a7a6ff"> transparente</span> y
            <span style="color: #b8ccff">flexible</span>
          </h1>
          <div class="row">
            <div class="col-10">
              <h2 class="text-white" style="font-size: 16px">
                Conoce nuestro
                <a href="" class="text-white">modelo de suscripción</a> desde
                $1.356.444
              </h2>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-10">
              <button
                class="btn text-black rounded-5 w-30 fw-bold"
                style="background-color: #b8ccff; width: 240px"
              >
                Simula tu inversión
              </button>
            </div>
          </div>

          <div class="row">
            <div class="w-full" >
              <h2 class="text-white" style="font-size: 16px">Lo que dicen nuestros inversionistas:</h2>
            </div>
          </div>

          <div class="w-100 d-flex gap-5 flex">
            <div class="card mb-3 border-0" style="max-width: 460px;">
              <div class="row g-0">
                <div class="col-md-4 rounded-start">
                  <img src="https://www.lokl.life/static/media/men-1.ddc8ce99e806ffea776c.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text fw-bold">“LOKL ayuda a que las personas que tienen poca capacidad de inversión, puedan tener una oportunidad de invertir en grandes proyectos.”</p>
                    <p class="card-text fw-bold">Cristian Morales</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="image-div">
              <img src="https://www.lokl.life/static/media/laura.14db0448ef5323be90f2.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div>




        </div>
      </div>
    </div>
    <app-footer
      class="d-block d-sm-block d-md-none d-lg-none position-absolute top-100"
    ></app-footer>
  </form>
</div>
