<app-minutero></app-minutero>

<div class="">
    <form action="">
        <div class="row bg-body">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xxl-6 mt-5">
                <div class="col-7 col-sm-6  col-md-6 col-lg-7 col-xxl-6 offset-3 mb-5">
                    <h3 class="fw-bold">Estás a un paso de diversificar tu portafolio invirtiendo desde bajos montos en
                        bienes
                        raíces!</h3>
                </div>
                <div class="col-7 col-sm-6 col-md-6 col-lg-7 col-xl-7 offset-3  mb-5">
                    <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="col-7 col-sm-6  col-md-6 col-lg-7 offset-3  mb-5">
                    <input type="text" class="form-control" placeholder="Correo Electronico" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class="col-7 col-sm-6  col-md-6 col-lg-7 offset-3 mb-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>Imagen</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Digita tu celular">
                    </div>
                </div>

                <div class="col-7 col-sm-6  col-md-6 col-lg-7 offset-3  mb-5">
                    <div class="input-group border border-black rounded">
                        <input type="password" class="form-control  border border-0" id="password-input">
                        <div class="input-group-append">
                            <button class="btn bg-body btn-focus border border-0" type="button"
                                id="show-password-button">Mostrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-7 col-sm-6  col-md-6 col-lg-7 offset-3  mb-5">
                    <select class="form-select custom-select" aria-label="Default select example">
                        <option selected>Como nos conociste</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-7 col-sm-6  col-md-6 col-lg-7 offset-3   mb-5">
                    <input type="text" class="form-control" placeholder="Código Referido" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class="col-7 col-sm-6  col-md-6 col-lg-7 col-xxl-12 offset-3 mb-4 text-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Aceptó Terminos y condiciones
                        </label>
                    </div>
                </div>

                <div class="col-7 col-sm-6  col-md-6 col-lg-7 col-xxl-12 offset-3 mb-2 text-center">
                    <button class="btn bg-blue rounded rounded-5"> Empieza Ahora</button>
                </div>


            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xxl-6 d-none d-sm-none d-md-none d-lg-flex bg-black">
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="text-white">Invierte de manera</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h2 class="text-white">Simple, transparente y flexible</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <h2 class="text-white">Conoce nuestro modelo de suscripción desde $1.356.444</h2>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-10">
                            <button class="btn bg-body text-black rounded-5"> Simula tu inversión</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h2 class="text-white">Lo que dicen nuestros inversionistas:</h2>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-8">
                            <div class="card">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="../../../assets/img/person.jpg" class="rounded float-end w-75"
                                            alt="...">
                                    </div>
                                    <div class="col-6">
                                        <p class="text-black text-start fs-6"> “LOKL ayuda a que las personas que tienen
                                            poca
                                            capacidad de
                                            inversión, puedan tener una oportunidad de invertir en grandes proyectos.”
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-4">
                            <img src="../../../assets/img/person.jpg" class="rounded float-end w-75 h-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer class="d-block d-sm-block d-md-none d-lg-none position-absolute top-100"></app-footer>
    </form>
</div>