.btn-focus:active,
:focus,
:active:focus {
  outline: none;
  box-shadow: none;
}

// Tamaño máximo de pantalla para ocultar el div con la imagen
@media (max-width: 1450px) {
  .image-div {
    display: none;
  }
}

// Tamaño mínimo de pantalla para mostrar el div con la imagen
@media (min-width: 1451px) {
  .image-div {
    display: block;
  }
}

.text-header-register {
  text-align: start;
}
.text-header-register h3{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .text-header-register {
    text-align: justify;
  }
}


