<div class="bg-white">
  <div class="flex justify-center h-screen">
      <div class="hidden bg-cover lg:block lg:w-2/3" style="background-image: url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
          <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
              <div>
                  <h2 class="text-4xl font-bold text-white">PagaTodoPR</h2>
                  <p class="max-w-xl mt-3 text-gray-300"></p>
              </div>
          </div>
      </div>

      <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
          <div class="flex-1">
              <div class="text-center">
                <div>
                  <img class="mx-auto h-20 w-auto" src="../../../assets/img/logo.png"  alt="">
                  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Iniciar Sesión</h2>
                </div>
                  <p class="mt-3 text-gray-500">Inicia sesión para acceder a tu cuenta</p>
              </div>

              <div class="w-full max-w-md space-y-8">
                <form [formGroup]="loginForm" class="mt-8 space-y-6" >
                  <input type="hidden" name="remember" value="true">
                  <div class="relative">
                      <input [(ngModel)]="login.terminal" formControlName="terminal" type="text" id="floating_outlined" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                      <label for="floating_outlined" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Terminal</label>
                  </div>

                  <div class="relative">
                    <input [(ngModel)]="login.password" formControlName="password" type="text" id="floating_outlined-2" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_outlined-2" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Contraseña</label>
                  </div>

                  <div class="flex items-center justify-end">
                    <div class="text-sm">
                      <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Olvidó su contraseña?</a>
                    </div>
                  </div>


                </form>
                <div>
                  <button [disabled]="!loginForm.valid" type="submit" (click)="clickfunc()" class="btn-accion group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                      <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                      </svg>
                    </span>
                    Iniciar Sesión
                  </button>
                </div>

                  <p class="mt-6 text-sm text-center text-gray-400">¿Aún no tienes una cuenta? <a href="#" class="text-principal-500 focus:outline-none focus:underline hover:underline">Crear una cuenta</a>.</p>
              </div>
          </div>
      </div>
  </div>
</div>

