.focus\:ring-0:focus {
  border-color: var(--principalColor);
}

.peer:focus ~ .peer-focus\:text-blue-600 {
  color: var(--principalColor);
}

.btn-accion {
  background-color: var(--principalColor);
}

.btn-accion:disabled {
  opacity: 0.5;
}

.text-indigo-500 {
  color: white;
}

.btn-accion:disabled .text-indigo-500 {
  opacity: 0.8;
}

.group:hover .group-hover\:text-indigo-400 {
  opacity: 0.8;
  color: white;
}

.text-indigo-600 {
  color: var(--principalColor);
}
