<app-minutero></app-minutero>

<div class="w-100 container-heigth" >
  <div class="col-12 col-sm-12 col-md-10 col-lg-4 mt-5 ">
    <div class="col-8 offset-2 col-md-8 col-lg-10 offset-lg-1 offset-md-3 mt-lg-5" >
      <p class="fw-bold h2 mt-lg-3 ">Inicia sesión</p>
    </div>
    <div class="col-8 offset-2 col-md-8 col-lg-10 offset-lg-1 offset-md-3" >
      <p class="h7 fw-semi-bold mb-5" style="color: #6c757d">
        Hola de nuevo, un gusto tenerte de vuelta, conoce los nuevos proyectos
        que tenemos para ti.
      </p>
    </div>
    <form class="example-form">
      <div class="col-8 offset-2 col-md-8 col-lg-10 offset-lg-1 offset-md-3 mb-3">
        <input
          type="text"
          class="form-control"
          style="font-size: 14px; height: 40px;"
          placeholder="Digita tu usuario o correo electrónico"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <!-- <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> -->

      <div class="col-8 offset-2 col-md-8 col-lg-10 offset-lg-1 offset-md-3 mb-3 ">
        <input
          type="text"
          class="form-control"
          placeholder="Contraseña"
          style="font-size: 14px; height: 40px;"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="col-8 offset-2 col-md-8 col-lg-10 offset-lg-1 offset-md-3 mb-1 text-left">
        <p class="h7 fw-semi-bold cursor-pointer" style="color: #4743e0">
          <a href="#" class="link-underline-secondary" style="color: #4743e0"
            >Olvide mi contraseña</a
          >
        </p>
      </div>
      <div
        class="col-8 offset-2 col-md-8 col-lg-10 offset-lg-1 offset-md-3 align-self-center mb-5"
      >
        <div class="form-check text-left">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label
            class="form-check-label ps-1"
            for="flexCheckChecked"
            style="color: #6c757d"
          >
            Guardar en este navegador
          </label>
        </div>
      </div>

      <div class="col-8 offset-2 col-md-8 offset-md-3 col-lg-10 offset-lg-1  text-center mb-4 ">
        <button class="btn bg-black rounded rounded-5 w-100 text-white">
          Ingresar
        </button>
      </div>

      <div
        class="col-8 offset-2 text-center col-md-8 col-lg-10 offset-lg-1 offset-md-3 align-self-center mb-5 "
      >
        <p class="h7 fw-semi-bold mb-1" style="color: #6c757d">
          ¿Aún no tienes una cuenta?
        </p>
        <p class="h7 fw-semi-bold cursor-pointer" style="color: #4743e0">
          <a
            href="#"
            class="link-underline-secondary"
            style="text-decoration: none"
            >Registrate aquí</a
          >
        </p>
      </div>
    </form>
  </div>
  <div
    class="col-12 col-sm-12 col-md-7 col-lg-8 col-xxl-8 d-none d-sm-none d-md-none d-lg-flex  bg-login-image pl-5 pt-5"
  >
    <div class="w-100 flex-column">
      <p class="h2 fw-bold mb-1" style="color: #fff">
        Creemos que la <span style="color: #dedaba">vida es una sola</span>
        <br />
        para solo vivirla
        <span style="color: #dedaba">los fines de semana</span>
      </p>
      <p class="h5 fw-semi-bold mt-3" style="color: #fff">
        Bienvenidos Nido de Agua | Proyecto en lanzamiento
      </p>
    </div>
  </div>
</div>
