.custom-tab-group .mat-tab-header-pagination {
  border-color: white;
}

.mat-tab-header-pagination .mat-tab-header-pagination-chevron {
  border-color: white;
}
.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: white;
}
