<div class="row justify-content-center bg-black">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4  mt-5 mt-sm-5 mt-md-5 mt-lg-5 d-grid">

        <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-4 text-center text-sm-center text-md-center text-lg-start">
                <p class="text-white text-center bg-secondary ms-2 ms-sm-2 ms-md-2 ms-lg-0"> P
                    &
                    Q</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 text-center text-sm-center text-md-center text-lg-start">
                <h2 class="text-white">Preguntas y respuestas frecuentes </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 text-center text-sm-center text-md-center text-lg-start">
                <h2 class="text-white">LOKL </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 text-center text-sm-center text-md-center text-lg-start">
                <h4 class="text-white">LOKL es una plataforma de inversión colaborativa, 100% digital, en proyectos
                    inmobiliarios que te ayuda a conectar con proyectos innovadores y rentables, en los que puedes
                    invertir
                    desde bajos montos y obtener rentabilidades por valorización y rentas, además de beneficios en los
                    proyectos
                    y con la comunidad de LOKL. </h4>
            </div>
        </div>
    </div>
    <div
        class="col-12 col-sm-12 col-md-12 col-lg-4 mt-5 mt-sm-5 mt-md-5 mt-lg-5  text-center text-sm-center text-md-center text-lg-start ">
        <mat-tab-group class="custom-tab-group custom-tab-group-md" color="primary">
            <mat-tab label="Inversión">
                <p class="text-white text-center text-sm-center text-md-center text-lg-start"> ¿Cómo puedo invertir?</p>
            </mat-tab>
            <mat-tab label="Riesgos">
                <p class="text-white text-center text-sm-center text-md-center text-lg-start">¿Qué riesgos tienen los
                    proyectos en los que invierto?</p>
            </mat-tab>
            <mat-tab label="Reinversión">
                <p class="text-white text-center text-sm-center text-md-center text-lg-start">¿Qué riesgos tienen los
                    proyectos en los que invierto?</p>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>