<div class="row justify-content-center bg-black">
    <div
        class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 mt-5 offset-3 offset-sm-3 offset-md-3 offset-lg-2 offset-xl-0 d-grid-flex">
        <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-4 text-start text-sm-start text-md-center text-lg-start">
                <p class="text-white text-center bg-secondary ms-0 ms-sm-0 ms-md-0 ms-lg-0"> P & Q</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 text-start text-sm-start text-md-start text-lg-start">
                <h2 class="text-white">Preguntas y respuestas frecuentes </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-sm-12 col-md-12 col-lg-8 text-start text-sm-start text-md-start text-lg-start">
                <h2 class="text-white">LOKL </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-sm-10 col-md-10 col-lg-8 text-start text-sm-start text-md-start text-lg-start">
                <h4 class="text-white">LOKL es una plataforma de inversión colaborativa, 100% digital, en proyectos
                    inmobiliarios que te ayuda a conectar con proyectos innovadores y rentables, en los que puedes
                    invertir
                    desde bajos montos y obtener rentabilidades por valorización y rentas, además de beneficios en los
                    proyectos
                    y con la comunidad de LOKL. </h4>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-10 col-md-12 col-lg-4 col-xl-4 col-xxl-4 mt-5 offset-1 offset-lg-0 offset-xl-0 ">
        <mat-tab-group class="custom-tab-group custom-tab-group-md" color="primary">
            <mat-tab label="Inversión">
                <p class="text-white text-start"> ¿Cómo puedo invertir?</p>
                <p class="text-white text-start"> La inversión colaborativa
                    en Lokl es 100% digital 💻 y puedes invertir siguiendo los siguientes pasos:</p>
                <ol class="text-white ms-0">
                    <li>Registrarte</li>
                    <li>Elige el proyecto Nido de Agua</li>
                    <li>Define el monto de inversión</li>
                    <li>Llenar datos personales y firmar el contrato</li>
                    <li>Paga tu inversión</li>
                    <li>Revisa en tu dashboard la inversión</li>
                </ol>
                <p class="text-white text-start">
                    Recuerda que hasta el 31 de Julio puedes invertir desde $11.200.000, a partir del 1 de Agosto puedes
                    invertir desde $11.400.000. Tu inversión la puedes realizar en este medio:
                    https://www.lokl.life/nido. la puedes realizar por medio del sitio web y puedes pagar por PSE o
                    Tarjeta de crédito tanto nacional como internacional 💳. Ten presente que si utilizar tarjeta de
                    crédito tendrás un fee adicional de 2,5% .
                </p>

            </mat-tab>
            <mat-tab label="Riesgos">
                <p class="text-white text-start">¿Qué riesgos tienen los
                    proyectos en los que invierto?</p>
            </mat-tab>
            <mat-tab label="Reinversión">
                <p class="text-white text-start ">¿Qué riesgos tienen los
                    proyectos en los que invierto?</p>
                <p class="text-white text-start ">Sí, puedes reinvertir en los proyectos 😍 utilizando tanto las
                    ganancias generadas como tus ingresos adicionales. 💰Uno de los beneficios de invertir con Lokl es
                    que puedes reinvertir con el Unit al mismo precio 💵al que inviertiste inicialmente</p>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>