<div class="row justify-content-center bg-black mb-3">
    <div class="col-4 mt-5 d-grid">
        <p class="text-white text-center bg-secondary w-25"> P & Q</p>
        <h2 class="text-white w-75">Preguntas y respuestas frecuentes </h2>
        <h2 class="text-white w-75">LOKL </h2>
        <h4 class="text-white w-75">LOKL es una plataforma de inversión colaborativa, 100% digital, en proyectos
            inmobiliarios que te ayuda a conectar con proyectos innovadores y rentables, en los que puedes invertir
            desde bajos montos y obtener rentabilidades por valorización y rentas, además de beneficios en los proyectos
            y con la comunidad de LOKL. </h4>
    </div>
    <div class="col-4 mt-5">

        <mat-tab-group class="custom-tab-group" color="primary">
            <mat-tab label="Inversión">
                <p class="text-white"> ¿Cómo puedo invertir?</p>
            </mat-tab>
            <mat-tab label="Riesgos">
                <p class="text-white">¿Qué riesgos tienen los proyectos en los que invierto?</p>
            </mat-tab>
            <mat-tab label="Reinversión">
                <p class="text-white">¿Qué riesgos tienen los proyectos en los que invierto?</p>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>