<!-- <div class="card">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Año 1">
            <div class="container-fluid text-center">
                asdsd
            </div>
        </mat-tab>
        <mat-tab label="<"></mat-tab>
        <mat-tab label=">"></mat-tab>
    </mat-tab-group>
    <div class="card-body">

    </div>
</div> -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4">
                <p>
                    < </p>

            </div>
            <div class="col-4 col-sm-4 col-md-4 text-center">año 1</div>
            <div class="col-4 col-sm-4 col-md-4 text-end"> > </div>
        </div>

        <div class="row">
            <div class="col-3 col-sm-12">
                <p class="text-white text-center bg-dark"> Etapa 1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-12">
                Inversionista
            </div>
            <div class="col-6 col-sm-12">
                Inversionista
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6 col-sm-12">
                Aventurero
            </div>
            <div class="col-6 col-sm-12">
                11'200'000
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mb-3">
            <div class="col-6 col-sm-10">
                Retorno estimado
            </div>
            <div class="col-6 col-sm-1 text-end">
                <p> ! </p>
                <!-- <button type="button" class="btn btn-secondary text-dark border-0" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Tooltip on top">
                    i
                </button> -->
            </div>
        </div>


    </div>
</div>