@use "@angular/material" as mat;

.nohover:focus {
  border: none !important;
  box-shadow: none;
  border-top: none;
  border-bottom: 1px solid black !important;
  outline: none !important;
}
.fondogray {
  background-color: rgb(240, 230, 230);
}

html,
body {
  height: 100%;
  background-color: rgb(240, 230, 230);
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

.h6 {
  font-family: "Lato", sans-serif !important;
}

.mat-tab-label,
.mat-tab-link {
  color: #ffffff !important;
}

.mat-drawer-content {
  position: relative;
}

app-footer {
  position: static;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
}

.mat-tab-header-pagination mat-icon {
  color: white !important;
}

.btn-focus:active,
:focus,
:active:focus {
  outline: none;
  box-shadow: none;
}

.form-check-input {
  background-color: white;
  border-color: none;
  box-shadow: none;
  border: 0;
}

.form-check-input:checked {
  background-color: rgb(15, 8, 46);
  border-color: none;
  box-shadow: none;
  border: 0;
}

.space-row {
  height: 80vh;

  @media (min-width: 0px) {
    height: 70vh;
  }

  @media (min-width: 576px) {
    height: 50vh;
  }

  @media (min-width: 768px) {
    height: 50vh;
  }

  @media (min-width: 992px) {
    height: 100vh;
  }
}

.space-row-register {
  height: 100vh;

  @media (min-width: 0px) {
    height: 65vh;
  }

  @media (min-width: 576px) {
    height: 45vh;
  }

  @media (min-width: 768px) {
    height: 45vh;
  }

  @media (min-width: 992px) {
    height: 90vh;
  }
  .btn-white {
    background-color: white;
    color: black;
  }
}

.my-custom-select .mat-option.mat-selected {
  background-color: white; /* Cambia este color según tus preferencias */
}

/* Estilos personalizados para las opciones activas (con el cursor encima) de my-custom-select */
.my-custom-select .mat-option.mat-active {
  background-color: white; /* Cambia este color según tus preferencias */
}

.mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: white !important;
}

/* Estilo personalizado para el fondo seleccionado */
.mat-option.mat-selected.mat-active:not(.mat-option-multiple) {
  background-color: white !important;
}

.mat-select-value {
  background-color: rgb(240, 230, 230) !important;
}

/* Eliminar fondo azul al hacer clic en mat-option */
.mat-option.mat-selected:not(.mat-option-multiple),
.mat-option.mat-selected.mat-active:not(.mat-option-multiple) {
  background-color: transparent !important;
}

/* Evitar que la flecha hacia abajo cambie de color al seleccionar una opción */
.mat-select-arrow-wrapper {
  height: 16px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  color: rgb(240, 230, 230);
  background-color: rgb(240, 230, 230);
}

// Agregar un 100 vh en el contenedor
.container-heigth {
  width: 100%;
  padding-top: 140px;
  background: white;
  display: flex;
  height: auto;
}

@media (max-width: 993px) {
  .container-heigth {
    padding-top: 20px;
  }
}
@media (min-width: 993px) {
  .container-heigth {
    min-height: 100vh;
  }
}
.custom-select {
  width: 200px;
  font-size: 16px;
  background-color: white;
  color: black;
}

/* Estilo para las opciones seleccionadas */
.custom-select option:checked {
  background-color: white;
  color: black; /* Cambia este color según tus preferencias */
}

/* Estilo para las opciones cuando el cursor está encima */
.custom-select option:hover {
  background-color: white;
  color: black; /* Cambia este color según tus preferencias */
}

.form-select.form-select:focus {
  background-color: #f8f9fa; /* Cambia el color de fondo cuando está activo */
  color: #495057; /* Cambia el color del texto cuando está activo */
}

.form-select.form-select-lg:focus {
  background-color: #f8f9fa; /* Cambia el color de fondo cuando está activo */
  color: #495057; /* Cambia el color del texto cuando está activo */
}

/* Opción: Si deseas utilizar una variable CSS */
a:hover {
  background-color: transparent;
}

.custom-modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(130, 236, 240, 0.75) !important;
}

.custom-modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(130, 236, 240, 0.75) !important;
}
.error-modal .modal {
  background-color: rgba(220, 38, 38, 0.75);
}
