@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "~swiper/scss";
@import "~swiper/scss/autoplay";
@import "~swiper/scss/keyboard";
@import "~swiper/scss/pagination";
@import "~swiper/scss/scrollbar";
@import "~swiper/scss/zoom";
@import "~@angular/cdk/overlay-prebuilt.css";

html * {
  font-family: "Work Sans", Poppins-Regular, sans-serif, "FontAwesome" !important;
}

:root {
  --principalColor: #ef5350;
}

.text-principal-500 {
  --tw-text-opacity: 1;
  color: var(--principalColor);
}

.toast-container .ngx-toastr {
  background: none;
  box-shadow: none;
}

.toast-container .ngx-toastr:hover {
  box-shadow: none;
}

.focus\:ring-0:focus {
  border-color: var(--principalColor) !important;
}

.peer:focus ~ .peer-focus\:text-blue-600 {
  color: var(--principalColor) !important;
}

.swal2-styled.swal2-confirm {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity)) !important;
}

.swal2-loader {
  border-color: var(--principalColor) rgba(0, 0, 0, 0) var(--principalColor)
    rgba(0, 0, 0, 0) !important;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: #fff;
  color: #000;
  text-align: center;
  line-height: 300px;
}

.swiper-button-next {
  color: var(--principalColor);
}

.swiper-button-prev {
  color: var(--principalColor);
}

.swiper-pagination-bullet-active {
  background: var(--principalColor) !important;
}
