<div
  class="col-12 bg-black container-footer d-none d-sm-none d-md-none d-lg-flex gap-lg-2 gap-xxl-5"
>
  <div class="col-lg-3 col-xxl-3">
    <img
      src="https://lokl.life/static/media/lokl-white.bb7402e2d67a7a2582e8f4bae7bb2db1.svg"
      alt="Logo LOKL"
      class="mb-3"
    />
    <p class="text-footer-large m-0 p-0">
      Sé parte de una comunidad, crece tu patrimonio y construye tu futuro
    </p>
    <div
      class="w-100 mt-5 d-flex flex-wrap justify-content-between align-items-center"
    >
      <img
        class="img-footer"
        src="https://lokl.life/static/media/instagram.a02efc50478eee39061fc9f7a86e7079.svg"
        alt=""
      />
      <img
        class="img-footer"
        src="https://lokl.life/static/media/facebook.c8e4c8c143fd4d74f291cd701bbfd8d8.svg"
        alt=""
      />
      <img
        class="img-footer"
        src="https://lokl.life/static/media/twitter.8fd724143915311d903c7d38c65f3451.svg"
        alt=""
      />
      <img
        class="img-footer"
        src="https://lokl.life/static/media/youtube.cd70f12307515a3abbc559dca9f6f95f.svg"
        alt=""
      />
      <img
        class="img-footer"
        src="https://lokl.life/static/media/linkedin-white.b1d643bfe37be01cb118a962fd727035.svg"
        alt=""
      />
    </div>
  </div>

  <div class="col-lg-3 col-xxl-2 sobre-footer" style="padding-top: 36px">
    <p class="text-footer-title m-0 p-0 mb-4">Sobre LOKL</p>
    <p class="text-footer-body m-0 p-0"><a href="#">Nido de Agua</a></p>
    <p class="text-footer-body m-0 p-0"><a href="#">Nuestros Proyectos</a></p>
    <p class="text-footer-body m-0 p-0"><a href="#">Simula tu inversión</a></p>
    <p class="text-footer-body m-0 p-0">
      <a href="#">Modelo de suscripción</a>
    </p>
    <p class="text-footer-body m-0 p-0"><a href="#">Academia LOKL</a></p>
    <p class="text-footer-body m-0 p-0"><a href="#">Preguntas frecuentes</a></p>
    <p class="text-footer-body m-0 p-0">
      <a href="#">Términos y condiciones </a>
    </p>
  </div>

  <div class="col-lg-2 bg-black" style="padding-top: 36px">
    <p class="text-footer-title m-0 p-0 mb-4">Nosotros</p>
    <p class="text-footer-body m-0 p-0"><a href="#">Habla con Jacobo</a></p>
    <p class="text-footer-body m-0 p-0"><a href="#">Contáctanos</a></p>
  </div>

  <div class="col-lg-4 section-correo-footer" style="padding-top: 36px">
    <p class="text-footer-title m-0 p-0 mb-4">Newsletter</p>
    <div class="w-100 d-flex">
      <input
        type="text"
        class="form-control input-correo-footer"
        placeholder="Dejanos tu correo y te contamos todo"
        aria-label="email"
        aria-describedby="basic-addon1"
      />
      <button>Enviar</button>
    </div>

    <div class="footer-contact-news">
      <p class="m-0 one">¡Contáctanos!</p>
      <p class="m-0 ">jacobo@lokl.life</p>
      <p class="m-0 two">+57 320 6889856</p>
    </div>
  </div>

  <div class="divider-footer">
    <div class="footer-line"></div>
  </div>
</div>
<div class="footer-reservations d-none d-sm-none d-md-none d-lg-flex">
  <p class="text-white p-0 m-0 mb-1" style="color: #e5e7eb">
    ©TodoslosderechosreservadosLOKL.LIFE
  </p>
  <div class="footer-banca">
    <img
      src="https://lokl.life/static/media/Visa.e15f86e607717f0b7ad64bd3dbaee511.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/Mastercard.ac4977f1b90818b59bd37c6ba7657284.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/DinersClub.4be13d0ea1e19730b515df82bd56a89a.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/bancolombia-white-icon.a85cec979629d95ff0b7830df865ea9c.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/pse.01f84b3dfc3b4a016b399ed63ae66f32.svg"
      alt=""
    />
  </div>
</div>

<!-- Responsive celulares -->
<div
  class="col-12 bg-black container-footer-cell d-block d-sm-block d-md-block d-lg-none"
>
  <div class="col-md-8 col-sm-9 offset-sm-1 offset-md-2 bg-black">
    <img
      src="https://lokl.life/static/media/lokl-white.bb7402e2d67a7a2582e8f4bae7bb2db1.svg"
      alt="Logo LOKL"
      class="mb-3"
    />
    <p class="text-footer m-0 p-0 offset-sm-2 offset-md-1">
      Sé parte de una comunidad, crece tu patrimonio y construye tu futuro
    </p>
    <div
      class="mt-3 d-flex justify-content-between align-items-center"
      style="height: 50px"
    >
      <img
        src="https://lokl.life/static/media/instagram.a02efc50478eee39061fc9f7a86e7079.svg"
        alt=""
      />
      <img
        src="https://lokl.life/static/media/facebook.c8e4c8c143fd4d74f291cd701bbfd8d8.svg"
        alt=""
      />
      <img
        src="https://lokl.life/static/media/twitter.8fd724143915311d903c7d38c65f3451.svg"
        alt=""
      />
      <img
        src="https://lokl.life/static/media/youtube.cd70f12307515a3abbc559dca9f6f95f.svg"
        alt=""
      />
      <img
        src="https://lokl.life/static/media/linkedin-white.b1d643bfe37be01cb118a962fd727035.svg"
        alt=""
      />
    </div>
  </div>

  <div
    class="col-md-8 col-sm-9 offset-sm-1 offset-md-2 bg-black d-flex justify-content-between"
  >
    <div class="bg-black" style="padding-top: 36px">
      <p class="text-footer-title m-0 p-0 mb-4">Sobre LOKL</p>
      <p class="text-footer-body m-0 p-0"><a href="#">Nido de Agua</a></p>
      <p class="text-footer-body m-0 p-0"><a href="#">Nuestros Proyectos</a></p>
      <p class="text-footer-body m-0 p-0">
        <a href="#">Simula tu inversión</a>
      </p>
      <p class="text-footer-body m-0 p-0">
        <a href="#">Modelo de suscripción</a>
      </p>
      <p class="text-footer-body m-0 p-0"><a href="#">Academia LOKL</a></p>
      <p class="text-footer-body m-0 p-0">
        <a href="#">Preguntas frecuentes</a>
      </p>
      <p class="text-footer-body m-0 p-0">
        <a href="#">Términos y condiciones </a>
      </p>
    </div>

    <div class="bg-black" style="padding-top: 36px">
      <p class="text-footer-title m-0 p-0 mb-4">Nosotros</p>
      <p class="text-footer-body m-0 p-0"><a href="#">Habla con Jacobo</a></p>
      <p class="text-footer-body m-0 p-0"><a href="#">Contáctanos</a></p>
    </div>
  </div>
</div>

<div class="footer-reservations-cell d-flex d-sm-flex d-md-flex d-lg-none ">
  <div class="footer-banca">
    <img
      src="https://lokl.life/static/media/Visa.e15f86e607717f0b7ad64bd3dbaee511.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/Mastercard.ac4977f1b90818b59bd37c6ba7657284.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/DinersClub.4be13d0ea1e19730b515df82bd56a89a.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/bancolombia-white-icon.a85cec979629d95ff0b7830df865ea9c.svg"
      alt=""
    /><img
      src="https://lokl.life/static/media/pse.01f84b3dfc3b4a016b399ed63ae66f32.svg"
      alt=""
    />
  </div>
  <p class="text-white p-0 m-0 mb-1" style="color: #e5e7eb">
    ©TodoslosderechosreservadosLOKL.LIFE
  </p>

</div>

