<div class="row justify-content-start bg-black">

    <div class="row mt-3">
        <div class="col-3">
            <p class="text-white">LOKL
            </p>
            <p class="text-white">Sé parte de una comunidad, crece tu patrimonio y construye tu futuro</p>

        </div>
        <div class="col-3">
            <p class="text-white"> Sobre LOKL
            </p>
            <p class="text-white">Nido de Agua
                Nuestros Proyectos
                Simula tu inversión
                Modelo de suscripción
                Academia LOKL
                Preguntas frecuentes</p>

        </div>
        <div class="col-3">
            <p class="text-white"> Nosotros</p>
            <p class="text-white">Habla con Jacobo
                Contáctanos</p>

        </div>
        <div class="col-3">
            <p class="text-white"> Newsletter </p>
            <p class="text-white">Sé parte de una comunidad, crece tu patrimonio y construye tu futuro</p>

        </div>
        <hr style="color:rgb(255, 255, 255)">
    </div>

    <div class="container-fluid mt-3">
        <p class="text-white">©TodoslosderechosreservadosLOKL.LIFE</p>
    </div>

</div>