<mat-drawer-container class="" [hasBackdrop]="true">
    <mat-drawer class="bg-black" style="width: 80%;" #drawer mode="over">
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="text-white text-center">LOKL</h1>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="bg-body">
        <div class="row d-sm-flex d-md-flex d-lg-none bg-body">
            <div class="col-4">
                <button class="btn" (click)="drawer.toggle()"><i class="fa-solid fa-sliders"></i></button>
            </div>
            <div class="col-4">
                <h1 class="text-center" (click)="redireTo('')">LOKL</h1>
            </div>
            <div class="col-4">
                <button class="btn float-end" (click)="redireTo('register')" type="button">
                    <i class="fa-solid fa-user"></i></button>
            </div>
        </div>

        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
